@page
@model NewTanks.PartialViews.GameFieldCellModel
@{
}
@switch (Model)
{
    case CellTile.Brick:
        <div>B </div>
        brake;
    case CellTile.Empty:
        <div>E </div>
        brake;
    case CellTile.:
        <div>FB </div>
        brake;
    case CellTile.:
        <div>B </div>
        brake;
    case CellTile.:
        <div>B </div>
        brake;

}

